body{
  font-family: 'Poppins', sans-serif;
}

.container{
  background-image: url("images/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
}

/* .innercontainer{
  margin-top: 10px;
} */

.textcontainer{
  float: left;
  width: 35%;
  margin: 50px;
  margin-top: 100px;
  color: hsl(208, 66%, 16%);
  font-family: 'Poppins', sans-serif;
  font-size: 130%;
}

.mockups{
  width: 50%;
  margin: 10px 25px 25px 75px;
}

.getstarted{
  color: white;
  background-color: hsl(322, 100%, 66%);
  padding: 15px;
  font-size: 14px;
  text-align: center;
  width: 200px;
  border-radius: 25px;
}

#logo {
  margin: 30px 60px;
  width: 200px;
}

.free{
  float: right;
  color: hsl(208, 66%, 16%);
  background-color: white;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 120px;
  border-radius: 25px;
  box-shadow: lightgrey 1px 3px;
  margin: 25px 60px;
}

.textcontainer p{
  margin-bottom: 30px;
}

.smallcontainer{
  width: 80%;
  margin: 40px auto;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: lightgrey 1px 3px;
  padding: 20px 50px;
  font: 130%;
}

.smallcontainer img{
  width: 30%;
}

.smallcontainer div{
  width: 60%;
  margin-top: 50px
}
.smallcontainer p{
  width: 80%;
  /* color: grey; */
}
.lefttext{
  float: left;
}
.righttext{
  float: right;
}

.prefooter{
  text-align: center;
  width: 35%;
  margin: auto;
  color: hsl(208, 66%, 16%);
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: lightgrey 1px 1px;
  padding: 30px;
  z-index: 10;
  position: relative;
  background-color: white;
}

.prefooter div{
  margin: auto;
}

.bottom{
  margin-top: -50px;
  z-index: -10;
  background-color: hsl(208, 66%, 16%);
  color: white;
  padding: 50px;
  padding-top: 100px;
  font-size: 15px;
}

.leftbottom{
  width: 50%;
  float: left;
}
.mid{
  width: 25%;
  float: left;
}

#address{
  width: 75%;
}

i{
  margin-right: 10px;
}

#copyright{
  font-size: 11px;
margin-left: 1100px;
margin-top: 150px;
}
#copyright a{
  color: white;
}

@media only screen and (max-width: 376px) {
  .container{
    background-image: url("design\mobile-design.jpg");
    background-color: hsl(193, 100%, 96%);
    text-align: center;
  }
  .textcontainer{
    float: none;
    width: 90%;
    margin: auto;
    font-size: 90%;
  }
  h1{
    padding-top: 80px;
  }
  .mockups{
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  .getstarted{
    margin: auto;
  }
  .free{
    float: left;
    margin: 10px;
    margin-left: 50px;
    width: 100px;
    padding: 10px;
  }
  #logo {
    margin: 20px ;
    width: 120px;
    float: left;
  }
  .smallcontainer{
    width: 70%;

  }
  .smallcontainer img{
    width: 100%;
    margin: 20px;
  }
  .smallcontainer div, .smallcontainer p{
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .lefttext, .righttext{
    float: none;
  }
  .prefooter{
    width: 60%;
    margin-top: 100px;
  }
  .leftbottom{
    float: none;
    width: 90%;
    margin-bottom: 50px;
  }
  .mid{
    float: none;
    width: 90%;
  }
  #copyright{
    margin-left: 0;
    font-size: 10px;
    margin-top: 50px;
    text-align: center;
  }
}
